@use './scss/' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;

    background-color: $white;
    color: $txt-color;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

button,
input {
    outline: 0;
    padding: 8px;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

iframe{
    border: 0;
}

.container{
    max-width: 1660px;
    margin: auto;
}

//===============NAV===============\\

.navbar{
    @include flex (center, space-between, row);
    background-color: $white;
    padding: $basic;
    position: fixed;
    width: 100%;
    z-index: 20;
    box-shadow: $box-shadow;
    height: 60px;

    &__logo{
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
            transform: scale(1.1)
        }
    }

    &__button{
        @include flex (center, center, row);
        transition: all .3s ease-in-out;

        &:hover{
            opacity: 0.8;
        }

        &-img{ 
            cursor: pointer;
            width: 30px;
            height: 30px;
        } 
        
        &-search{
            transition: all .3s ease-in-out;
            cursor: pointer;
    
            &--hidden{
                background-color: $indigo;
                border-radius: 100%;
                padding: $basic;
            }
            
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &__searchmenu{
        @include flex (center, center, row);
        width: 100%;
        background-color: $grey1;
        border-bottom: 3px solid $indigo;
        transition: all .3s ease-in-out;
        z-index: 10;
        height: 60px;
        position: fixed;
        top: 0;
        box-shadow: $box-shadow;
        border-radius: 0px 0px 30px 30px;

        &--hidden{
            transform: translate(0, 0);  
        }

        &--visible{
            transform: translate(0, 58px);   
        }

        & input{
            margin-top: -20px;
            width: 60%;
            height: 40px;
            border-radius:0 0 20px 20px;
            font-weight: 700;
            text-align: center;
            color: $pink;
            border: 1px solid $grey3;
    
            &::placeholder{
                color: $grey3;
                font-weight: 400;
            }
            
            &:focus{
                border:2px solid $pink;
            }
        }
    }
}

.navmenu{
    @include flex (center, left, column);
    background-color: $grey1;
    padding: $basic;
    height: fit-content;
    box-shadow: $box-shadow;
    z-index: 10;
    transition: all .2s ease-in-out;
    position: absolute;
    border-bottom: 2px solid $purple;
    border-radius: 0px 0px 35px 35px;
    position: fixed;
    height: 100%;

    &--visible{
        width: 100vw;
        padding-top: 80px;
    }

    &--hidden{
        width: 0;
        padding: 0;
    }

    &__search{
        @include flex (center, flex-start, row);
        position: relative;

        &-img{
            position: absolute;
            right: 0;
            margin-right: $basic;
            height: 35px;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover{
                transform: scale(1.1)
            }
        }

        &-input{
            border: 1px solid $grey3;
            width: 350px;
            height: 56px;
            border-radius: $basic;
            font-weight: 700;
            color: $purple;
    
            &::placeholder{
                color: $grey3;
                font-weight: 300;
            }
            
            &:focus{
                border:2px solid $purple;
            }
        }
    }

    &__container{
        @include flex (left, center, column);
        width: 100%;

        &-title{
            color: $purple;
            font-size: 1.2rem;
            font-weight: 700;
            padding: $basic;
            border-bottom: 1px solid $grey2;
            transition: all .3s ease-in-out;

            &:hover{
                color: $pink;
                transform: translate(4px);
            }
        }

        &-a{
            @include flex (center, space-between, row);
            color: $grey8;
            font-size: 1rem;
            font-weight: 600;
            padding: $basic;
            transition: all .3s ease-in-out;

            &:hover{
                color: $indigo;
                font-weight: 700;
                transform: translate(2px);
            }
        }
    }
    
    &__social{
        @include flex (center, center, row);

        &-icon{
            padding: $basic;
            color: $indigo;
            transition: all .5s ease-in-out;

            &:hover{
                transform: translate(0px, 4px);
                color: $purple;
            }
        }
    }
}

.visible{
    transition: all 1s ease-in-out;
    display: flex;
    opacity: 100%;
}

.hidden{
    display: none;
    transition: all 1s ease-in-out;
    opacity: 0%;
}
//===============HEADER===============\\
.slider {
    @include flex (center, center, row);
    position: relative;
    width: 100%;
    padding-top: 60px;
    
    &__text{
        position: absolute;
        margin-left: $basic;

        &-h1{
            color: $white;
            font-size: 1.5rem;
            line-height: 25px;
    
            &--pink{
                color: $pink;
            }
        }

        &-p{
            color: $white;
            font-size: .7rem;
            font-weight: 700;

            &--2{
                font-weight: 400;
                font-size: .4rem;
                width: 50%;
                font-family: $font-family-p--2;
            }
        }
    }

    &__slide{
        @include flex (center, center, row);
        opacity: 0;
        transition-duration: 1s;
        transition-timing-function: ease;
        position: relative;

        &--active{
            opacity: 1;
            transition: 1s;
            transition-timing-function: ease;
        }
    }

    &__img{
        width: 100%;
        z-index: 40;
    }
}

//===============PROFILE===============\\
.profile{
    @include flex (center, center, row);
    padding: $basic 0 $basic 0;

    &__img{
        @include flex (center, center, column);
        padding: $basic;

        &-avatar{
            margin-bottom: $basic;
        }

        &-user{
            text-align: center;
            font-weight: 600;
        }
    }

    &__text{
        border-left: 3px solid $indigo;
        width: 70%; 
        padding-left: $basic;
        font-size: .8rem;
    }
}
//===============POST===============\\
.main{
    @include flex (center, center, column);

    &__img{
        padding: 0 $basic;
    }
}

.post{
    @include flex (center, center, column);
    margin: $basic;

    &__img{
        @include flex (center, center, column);
        text-align: center;
        
        &-p{
            background-color: $grey1;
            width: 100%;
            color:  $grey6;
            font-size: .8rem;
        }
    }

    &__title{
        color: $indigo;
        text-align: center;
        line-height: 30.18px;
        margin: $basic;
        font-size: 2rem;
    }

    &__p{
        font-family: $font-family-p;
        font-weight: 400;
        line-height: 24px;
        font-size: .8rem;

        &-strong{
            color: $purple;
            display: inline;
        }
    }

    &__ad{
        margin-bottom: $basic;
    }
}
//===============CARD===============\\
.card{
    @include flex (center, center, row);
    margin: $basic;
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: $basic;
    
    &:hover{
        transform: scale(1.02);
        box-shadow: $box-shadow;
        border-radius: $basic;
    }

    &__img{
       border: 1px solid $pink;
       margin-right: $basic;
       width: 130px;
    }

    &__info{
        @include flex (left, center, column);
        
        &-topic{
            color: $pink;
            font-weight: 700;
            font-size: .5rem;
            font-family: 'Source Sans Pro';
        }

        &-title{
            font-size: .8rem;
            font-weight: 700;
            line-height: 15px;
        }

        &-text{
            font-size: .6rem;
            line-height: 15px;
        }
    }
}

//===============NEWSLETTER===============\\
.newsletter{
    @include flex (center, center, row);
    background-color: $light;
    width: 100%;
    margin:30px 0px;
    position: relative;
    height: 50px;

    &__img{
        position: absolute;
        top: -20px;
        left: 10px;
        width: 95px;
    }

    &__caja{
        @include flex (center, center, row);
        position: relative;
        margin-left: 100px;

        &-p{
            position: absolute;
            left: 0;
            top: -30px;
            font-size: 12px;
            line-height: 15px;

            &-title{
                font-family: $font-family-p;
                font-weight: bold;
            }
        }

        &-button{
            @include flex (center, center, row);
            position: absolute;
            height: 30px;
            border: none;
            border-radius: 3px;
            color: $white;
            background-color: $grey6;
            padding: 5px;
            right: $basic;
            font-size: 10px;
            cursor: pointer;
        }

        &-input{
                border: 1px solid $grey2;
                width: 250px;
                border-radius: 3px;
                font-weight: 700;
                color: $purple;
                background-color: transparent;
                padding: 10px;
    
                &::placeholder{
                    color: $grey3;
                    font-weight: 300;
                }
                
                &:focus{
                    border:2px solid $purple;
                }
        }
    }
}
//===============FAQ===============\\
.faq{
    @include flex (center, center, column);
    margin: 0 $basic;
    cursor: pointer;
}

.answers{
    @include flex (center, center, column);

    &__arrow{
        cursor: pointer;
        transition: all .3s ease-in-out;

        &--visible{
            transform: rotate(180deg);
            color: $pink;
        }

        &--hidden{
            transform: rotate(180deg);
        }
    }

    &__title{
        @include flex (center, center, row);
        font-weight: 700;
        border-bottom: 1px dotted $black;         
    }

    &__p{
        text-align: center;
        margin: $basic 0;
        transition: all .3s ease-in-out;

        &--hidden{
            font-size: 0;
        }

        &--visible{
            font-size: .7rem;
        }
    }
}
//===============FOOTER===============\\
.footer{
    @include flex (center, center, column);
    background-color: $green;
    padding: $basic;

    &__img{
        width: 50%;
    }

    &__bar{
        padding: $basic;
    }

    &__links{
        @include flex (center, center, column);
        color: $white;
        font-weight: 400;
        font-size: .8rem;

        & a:hover{
            color: $pink;
        }
    }

    &__p{
        color: $white;
        font-size: .5rem;
        text-align: center;
    }
}

