@use './scss/' as *;


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;

    background-color: $white;
    color: $txt-color;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

button,
input {
    outline: 0;
    padding: 8px;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

iframe{
    border: 0;
}

.container{
    max-width: 1660px;
    margin: auto;
}

//===============NAV===============\\

.navbar{
    @include flex (center, space-between, row);
    background-color: $white;
    padding: $basic;
    position: fixed;
    width: 100%;
    z-index: 20;

    &__logo{
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
            transform: scale(1.1)
        }
    }

    &__button{
        @include flex (center, center, row);
        transition: all .3s ease-in-out;

        &:hover{
            opacity: 0.8;
        }

        &-img{ 
            cursor: pointer;
            width: 30px;
            height: 30px;
        } 
        
        &-search{
            transition: all .3s ease-in-out;
            cursor: pointer;
            
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.navmenu{
    @include flex (center, left, column);
    background-color: $grey1;
    padding: $basic;
    height: 100%;
    z-index: 10;
    transition: all .2s ease-in-out;
    position: absolute;
    width: 0;
    padding-top: 80px;

    &--visible{
        width: 100vw;
    }

    &--hidden{
        width: 0%;
        padding: 0;
    }

    &__search{
        @include flex (center, flex-start, row);
        position: relative;

        &-img{
            position: absolute;
            right: 0;
            margin-right: $basic;
            height: 35px;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover{
                transform: scale(1.1)
            }
        }

        &-input{
            border: 1px solid $grey2;
            width: 350px;
            height: 56px;
            border-radius: $basic;
            font-weight: 700;
            color: $purple;
    
            &::placeholder{
                color: $grey3;
                font-weight: 300;
            }
            
            &:focus{
                border:2px solid $purple;
            }
        }
    }

    &__container{
        @include flex (left, center, column);
        width: 100%;

        &-title{
            color: $purple;
            font-size: 1.2rem;
            font-weight: 700;
            padding: $basic;
            border-bottom: 1px solid $grey2;
            transition: all .3s ease-in-out;

            &:hover{
                color: $pink;
                transform: translate(4px);
            }
        }

        &-a{
            @include flex (center, space-between, row);
            color: $grey8;
            font-size: 1rem;
            font-weight: 600;
            padding: $basic;
            transition: all .3s ease-in-out;

            &:hover{
                color: $indigo;
                font-weight: 700;
                transform: translate(2px);
            }
        }
    }
    
    &__social{
        @include flex (center, center, row);

        &-icon{
            padding: $basic;
            color: $indigo;
            transition: all .5s ease-in-out;

            &:hover{
                transform: translate(0px, 4px);
                color: $purple;
            }
        }
    }
}

.visible{
    transition: all 1s ease-in-out;
    display: flex;
    opacity: 100%;
}

.hidden{
    display: none;
    transition: all 1s ease-in-out;
    opacity: 0%;
}
//===============HEADER===============\\
