@mixin flex($align-item, $jusfity-content, $flex-direction, ) {
      display: flex;
      align-items: $align-item;
      justify-content: $jusfity-content;
      flex-direction: $flex-direction;
}